*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/openCVLibrary345/build/.transforms/aa112c23c19d15fa7fa8f918cc708916.bin
/openCVLibrary345/build/.transforms/aa112c23c19d15fa7fa8f918cc708916/
/app/.idea/
/app/gradle/
/app/local.properties